@model IEnumerable<EstacionamentoTech.Models.TabelaValores>

@{
	ViewData["Title"] = "Vigências";
}

<h2>@ViewData["Title"]</h2>

<p>
	<a asp-action="NovaVigencia" class="btn btn-primary">Adicionar Nova Vigência</a>
</p>

<table class="table">

	<form asp-action="FiltrarVigencias" method="post">
		<div class="form-group">
			<div>
				<h6>Fim posterior à:</h6> <input type="date" name="InicioVigencia" class="btn btn-outline-dark"
						value="@(TempData["InicioVigencia"]?.ToString() ?? "")">
			</div>
			<div>
				<h6>Início anterior à:</h6> <input type="date" name="FimVigencia" class="btn btn-outline-dark"
						 value="@(TempData["FimVigencia"]?.ToString() ?? "")">
			</div>
			<div>
				<h6>Hora inicial:</h6> <input type="number" step="0.01" name="HoraInicial" class="btn btn-outline-dark"
							 value="@(TempData["HoraInicial"]?.ToString() ?? "")">
			</div>
			<div>
				<h6>Hora adicional:</h6> <input type="number" step="0.01" name="HoraAdicional" class="btn btn-outline-dark"
							   value="@(TempData["HoraAdicional"]?.ToString() ?? "")">
			</div>
			<br />
			<input type="submit" value="Buscar" class="btn btn-primary" />
			<a asp-action="Index" class="btn btn-secondary">Limpar Filtros</a>
		</div>
		<br />
	</form>

	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataInicio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataFim)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ValorHoraInicial)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ValorHoraAdicional)
			</th>
			<th>
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var vigencia in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(model => vigencia.Id)
				</td>
				<td>
					@Html.DisplayFor(model => vigencia.DataInicio)
				</td>
				<td>
					@Html.DisplayFor(model => vigencia.DataFim)
				</td>
				<td>
					@Html.DisplayFor(model => vigencia.ValorHoraInicial)
				</td>
				<td>
					@Html.DisplayFor(model => vigencia.ValorHoraAdicional)
				</td>
				<td>
					<a asp-action="EditarVigencia" asp-route-id="@vigencia.Id" class="btn btn-secondary">Editar</a> |
					<a asp-action="DeletarVigencia" asp-route-id="@vigencia.Id" class="btn btn-danger">Deletar</a>
				</td>
			</tr>
		}
	</tbody>

</table>