@model EstacionamentoTech.Models.HistoricoEstacionamentos

@{
	ViewData["Title"] = "Arquivo de compra";
}

<h1>
	@ViewData["Title"]
</h1>

@if (TempData["Mensagens"] is List<string> mensagens)
{
	string tipoMensagem = TempData["Tipo"].ToString();

	switch (tipoMensagem)
	{
		case "4":
			<div class="alert alert-danger" role="alert">
				@foreach (var msg in mensagens)
				{
					<p>@msg</p>
				}
			</div>
			break;
		case "2":
			<div class="alert alert-warning" role="alert">
				@foreach (var msg in mensagens)
				{
					<p>@msg</p>
				}
			</div>
			break;
		case "1":
			<div class="alert alert-info" role="alert">
				@foreach (var msg in mensagens)
				{
					<p>@msg</p>
				}
			</div>
			break;
	}
}

<hr>

<div>
	<h3>Dados do estacionamento</h3>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.Id)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IdentificacaoVeiculo)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.IdentificacaoVeiculo)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Proprietario)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.Proprietario)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Entrada)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.Entrada)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Saida)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.Saida)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.HorasCobradas)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.HorasCobradas)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ValorCobrado)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.ValorCobrado)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FormaPagamentoEnum)
		</dt>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.FormaPagamentoEnum)
		</dt>
	</dl>
</div>

<div class="row">
	<div class="col-sm-4">
	<a asp-action="GerarArquivoCompra" 
		asp-route-id="@Model.Id"
		class="btn btn-primary">Gerar Arquivo</a>
	</div>
</div>

<hr />

<div>
	<a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>