@model EstacionamentoTech.Models.HistoricoEstacionamentos

@{
	ViewData["Title"] = "Finalização de Estacionamento";
}

<h1>
	@ViewData["Title"]
</h1>

@if (TempData["Mensagens"] is List<string> mensagens)
{
	string tipoMensagem = TempData["Tipo"].ToString();

	switch (tipoMensagem)
	{
		case "4":
			<div class="alert alert-danger" role="alert">
				@foreach (var msg in mensagens)
				{
					<p>@msg</p>
				}
			</div>
			break;
		case "2":
			<div class="alert alert-warning" role="alert">
				@foreach (var msg in mensagens)
				{
					<p>@msg</p>
				}
			</div>
			break;
		case "1":
			<div class="alert alert-info" role="alert">
				@foreach (var msg in mensagens)
				{
					<p>@msg</p>
				}
			</div>
			break;
	}
}

<hr>

<div class="row">

	<div class="col-md-4">
		<form asp-action="FecharEstacionamento">
			<div class="form-group">
				<label asp-for="Veiculo" class="control-label"></label>
				@Html.DropDownList("Veiculo", 
									(IEnumerable<SelectListItem>)ViewBag.Veiculos, 
									"Selecione o veículo",
								new { @readonly = "readonly" })
			</div>
			<div class="form-group">
				<label asp-for="Entrada" class="control-label"></label>
				<input asp-for="Entrada" class="form-control" readonly />
			</div>
			<div class="form-group">
				<label asp-for="Saida" class="control-label"></label>
				<input asp-for="Saida" class="form-control" autofocus />
			</div>
			<div class="form-group">
				<label asp-for="HorasCobradas" class="control-label"></label>
				<input asp-for="HorasCobradas" class="form-control" disabled />
			</div>
			<div class="form-group">
				<label asp-for="ValorCobrado" class="control-label"></label>
				<input asp-for="ValorCobrado" class="form-control" disabled />
			</div>
			<div class="form-group">
				<label asp-for="Pago" class="control-label"></label>
				<input type="checkbox" asp-for="Pago" class="form-check-input" disabled />
			</div>
			<div class="form-group">
				<label class="control-label">Log do Cálculo</label>
				<textarea class="form-control" 
					rows="6" readonly 
					style="resize: vertical; background-color: #f8f9fa; font-family: monospace; font-size: 0.9em;"
					>@Model.LogCalculo</textarea>
			</div>
			<br />
			<div class="form-group">
				@if (!Model.ValorCobrado.HasValue)
				{
					<input type="submit" value="Calcular" class="btn btn-primary" />
				}
				else
				{
					<a asp-action="PagarEstacionamento" asp-route-id="@Model.Id"  class="btn btn-success">Pagar</a>
					<input type="submit" value="Recalcular" class="btn btn-outline-success" />
				}
			</div>
		</form>
	</div>

</div>

<hr/>
<div>
	<a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>